/* General */

*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error_msg{
  color: red;
}

.conf_msg{
  color: goldenrod;
}



/* Login */

.logo-login{
  max-width: 85%;
}

.logo-figure figcaption{
  font-size: 60px;
  font-weight: bold;
  color: goldenrod;
}

.login-form{
  margin-left: 450px;
  margin-right: 450px;
}



/* Nav */

.logo{
  max-width: 50%;
}

.container-fluid{
  background-color: rgb(111, 139, 61);
  margin-top: -10px;
}

.nav-item .nav-link:hover{
  color: white;
  background-color: rgb(250, 104, 78);
  font-weight: bold;
}

.nav-item.active{
  background-color: goldenrod;
  font-weight: bold;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }	

  .dropdown-menu .dropdown-item:hover{
    background-color: rgb(250, 104, 78);
    color: white;
  }

  .logout-btn:hover{
    color: white;
    background-color: rgb(250, 104, 78);
  }



/* Home */

.card .card-body img{
  width: 75%;
}

.homecard a{
  color: white;
}

.carousel .carousel-item {
  height: 300px;
}



/* Products */

.product-header{
  font-weight: bold;
  color: goldenrod;
}

.product-page-image{
  max-width: 500px;
}

.product-type, #creator-header{
  color: rgb(250, 104, 78);
  font-weight: bolder;
  font-size: 60px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}



/* Creator */

#empty-pizza{
  max-width: 500px;
}

.btn-creator a, .btn-creator a:hover{
  color: white;
}



/* Cart */

.cart-item-img{
  max-width: 35%;
}

.product-amount{
  max-width: 25%;
}

.ingredients{
  max-width: 70%;
}

.product-image{
  max-width: 30%;
  margin-right: 5%;
}

